:root {
  --main-bg-color: #1a2c38;
  --sidebar-color: #0f1923;
  --accent-color: #31c4be;
  --text-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

body {
  background-color: #1b2838;
  color: #c7d5e0;
}

header {
  position: fixed;
  width: 100%;
  padding: 20px;
  background-color: var(--sidebar-color);
  transition: background-color .3s ease;
  z-index: 1000;
}

main {
  margin-left: 60px;
  padding: 20px;
  width: calc(100% - 60px);
}

.scrolled {
  background-color: #0f1923b5;
}



div.card {
  background-color: #2a475e;
  border: none;
  transition: transform 0.2s;
}

div.card:hover {
  transform: translateY(-5px);
}

h5.card-title {
  color: #c7d5e0;
}



p.card-text {
  color: #acb2b8;
}

.btn-primary {
  background-color: #66c0f4;
  border-color: #66c0f4;
}

.btn-primary:hover {
  background-color: #1999ff;
  border-color: #1999ff;
}

#special-offers img,
#games img {
  cursor: pointer;
}


footer {
  background-color: #171a21 !important;
}